<!DOCTYPE html>
<html>
  <head>
    <title>Whispper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <header>
        <p>Whispper</p>
      </header>

      <br></br>

      <%= yield %>

      <footer>
	      <p>Copyright &copy; 2022 DIC</p>
      </footer>
    </div>
  </body>
</html>
